.brand-logo {
  margin-left: 15px;
}

.student .card-title {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-top: -18px;
}

#cohort {
  display: inline-block;
  width: 150px;
  margin-left: 50px;
}

span.badge.white {
  top: 35px;
}
