.ColorPicker {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 50px;
}

.ColorPicker-color:hover {
  opacity: 1;
}

.ColorPicker-color {
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 50%;
  opacity: 0.85;
  cursor: pointer;
};
