<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<h1>Welcome to My Horrible Website</h1>

  <img src="https://news.nationalgeographic.com/content/dam/news/photos/000/755/75552.ngsversion.1422285553360.adapt.1900.1.jpg" alt="cat picture" />
  
  <style>

    img {
      width: 500px;
    }
    
  </style>

  <script>
    consol.log('Hello');
  </script>
  
  </body>
</html>
