<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <h2>Todos</h2>
  <ul>
    <% todos.forEach(function(t) { %>
      <li>
      <%= t.todo %>
       - 
      <%= t.done ? 'done' : 'not done' %>
      </li>
    <% }); %>
  </ul>

  <form action="/todos" method="post">
    <input type="text" name="newTodo">
    <input type="submit" value="Add Todo">
  </form>
</body>
</html>