<%- include('./../_partials/head') %>

<h1>New Shoe</h1>

<form action="/shoes" method="POST">
  <label>Shoe Name</label>
  <input type="text" name="shoeName"><br>
  <br>
  <label>Shoe Release Year</label>
  <input type="text" name="shoeReleaseYear"><br>
  <br>
  <label>Shoe Description</label>
  <input type="text" name="shoeDescription"><br>
  <br>
  <input type="submit" value="Add Shoe">
</form>

<%- include('./../_partials/footer') %>