body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header-footer {
  height: 50px;
  padding: 10px;
  margin: 15px 0;
  color: grey;
  font-size: 18px;
  text-align: center;
}

.cancel-btn {
  width: 100px;
}
