<!DOCTYPE html>
<html>
  <head>
    <title>Unit 3 Assessment</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <a href="/">HOME</a> | <a href="/posts">ALL POSTS</a>
    </div>
    <h1>Home Page</h1>
  </body>
</html>
